<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Woof or Meow</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

    <h1>
        Upload an image to know if it's a dog or a cat
    </h1>

    <form method="post" enctype="multipart/form-data">
        <p><input type="file" name="filename">
        <input type="submit" value="判定"></p>
    </form>

</body>
</html>
